<?php

return [
    'class' => 'yii\db\Connection',
    'dsn' => 'mysql:host=localhost;dbname={{sermons_api_db_name}}',
    'username' => '{{sermons_api_db_user}}',
    'password' => '{{sermons_api_db_password}}',
    'charset' => 'utf8',
    'enableSchemaCache' => false,
    // Duration of schema cache.
    'schemaCacheDuration' => 3600,
    // Name of the cache component used to store schema information
    'schemaCache' => 'cache',
];
 
